.git
.github
.cursor
.next
node_modules
**/node_modules
src/generated
coverage
playwright-report
test-results
blob-report
infra/cdk.out
.env*
!.env.example
*.pem
*.key
docs
e2e
Dockerfile
docker-compose.yml
